In [ ]:
# Check nvidia-cart
!nvidia-smi

Tue May 25 09:04:42 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla P100-PCIE...  Off  | 00000000:00:04.0 Off |                    0 |
| N/A   40C    P0    28W / 250W |      0MiB / 16280MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [ ]:
# 
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar -xvf spark-3.1.1-bin-hadoop3.2.tgz

spark-3.1.1-bin-hadoop3.2/
spark-3.1.1-bin-hadoop3.2/NOTICE
spark-3.1.1-bin-hadoop3.2/kubernetes/
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/python_executable_check.py
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/autoscale.py
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/worker_memory_check.py
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/py_container_checks.py
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/decommissioning.py
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/pyfiles.py
spark-3.1.1-bin-hadoop3.2/kubernetes/tests/decommissioning_cleanup.py
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/decom.sh
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/entrypoint.sh
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/R/
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/R/Dockerfile
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/python/
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/bindings/python/Dockerfile
spark-3.1.1-bin-hadoop3.2/kubernetes/dockerfiles/spark/Dockerfile
spark-3.1.1-bin-hadoop3.2/jars/
spark-3.1.1-bin-hadoop3.2/jars/RoaringBitmap-0.9.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-vector-code-gen-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/guice-servlet-4.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-crypto-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kerby-asn1-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/derby-10.12.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-annotations-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-mapreduce-client-jobclient-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-beanutils-1.9.4.jar
spark-3.1.1-bin-hadoop3.2/jars/okhttp-3.12.12.jar
spark-3.1.1-bin-hadoop3.2/jars/httpcore-4.4.12.jar
spark-3.1.1-bin-hadoop3.2/jars/logging-interceptor-3.12.12.jar
spark-3.1.1-bin-hadoop3.2/jars/scala-library-2.12.10.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-mllib-local_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/parquet-format-2.4.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-identity-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kryo-shaded-4.0.2.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-logging-1.1.3.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-compiler-3.0.16.jar
spark-3.1.1-bin-hadoop3.2/jars/jdo-api-3.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/spire-macros_2.12-0.17.0-M1.jar
spark-3.1.1-bin-hadoop3.2/jars/json4s-core_2.12-3.7.0-M5.jar
spark-3.1.1-bin-hadoop3.2/jars/JLargeArrays-1.5.jar
spark-3.1.1-bin-hadoop3.2/jars/jsp-api-2.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-yarn-server-web-proxy-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-autoscaling-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jcl-over-slf4j-1.7.30.jar
spark-3.1.1-bin-hadoop3.2/jars/json4s-ast_2.12-3.7.0-M5.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-cli-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/parquet-common-1.10.1.jar
spark-3.1.1-bin-hadoop3.2/jars/json-smart-2.3.jar
spark-3.1.1-bin-hadoop3.2/jars/stax-api-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-dataformat-yaml-2.10.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-storage-api-2.7.2.jar
spark-3.1.1-bin-hadoop3.2/jars/algebra_2.12-2.0.0-M2.jar
spark-3.1.1-bin-hadoop3.2/jars/spire-util_2.12-0.17.0-M1.jar
spark-3.1.1-bin-hadoop3.2/jars/jakarta.activation-api-1.2.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jline-2.14.6.jar
spark-3.1.1-bin-hadoop3.2/jars/breeze_2.12-1.0.jar
spark-3.1.1-bin-hadoop3.2/jars/metrics-jvm-4.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/dropwizard-metrics-hadoop-metrics2-reporter-0.1.2.jar
spark-3.1.1-bin-hadoop3.2/jars/machinist_2.12-0.6.8.jar
spark-3.1.1-bin-hadoop3.2/jars/scala-compiler-2.12.10.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-pool-1.5.4.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-network-shuffle_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/token-provider-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-repl_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jta-1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-admissionregistration-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/istack-commons-runtime-3.0.8.jar
spark-3.1.1-bin-hadoop3.2/jars/metrics-graphite-4.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-streaming_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-launcher_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/objenesis-2.6.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-collections-3.2.2.jar
spark-3.1.1-bin-hadoop3.2/jars/audience-annotations-0.5.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kerby-pkix-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jpam-1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jakarta.annotation-api-1.3.5.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-common-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-extensions-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/py4j-0.10.9.jar
spark-3.1.1-bin-hadoop3.2/jars/curator-recipes-2.13.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jaxb-api-2.2.11.jar
spark-3.1.1-bin-hadoop3.2/jars/spire-platform_2.12-0.17.0-M1.jar
spark-3.1.1-bin-hadoop3.2/jars/avro-1.8.2.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-mapreduce-client-common-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/javax.inject-1.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-apiextensions-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jersey-media-jaxb-2.30.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-admin-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/ehcache-3.3.1.jar
spark-3.1.1-bin-hadoop3.2/jars/javax.jdo-3.2.0-m3.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-server-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-yarn-api-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/json4s-jackson_2.12-3.7.0-M5.jar
spark-3.1.1-bin-hadoop3.2/jars/paranamer-2.8.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-common-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/cats-kernel_2.12-2.0.0-M4.jar
spark-3.1.1-bin-hadoop3.2/jars/kerby-util-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-client-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-yarn-registry-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-mllib_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/flatbuffers-java-1.9.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jersey-server-2.30.jar
spark-3.1.1-bin-hadoop3.2/jars/stream-2.9.6.jar
spark-3.1.1-bin-hadoop3.2/jars/datanucleus-api-jdo-4.2.4.jar
spark-3.1.1-bin-hadoop3.2/jars/gson-2.2.4.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-hive-thriftserver_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/antlr4-runtime-4.8-1.jar
spark-3.1.1-bin-hadoop3.2/jars/curator-client-2.13.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-mapreduce-client-core-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/stax2-api-3.1.4.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-policy-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-jdbc-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-exec-2.3.7-core.jar
spark-3.1.1-bin-hadoop3.2/jars/opencsv-2.3.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-certificates-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/avro-mapred-1.8.2-hadoop2.jar
spark-3.1.1-bin-hadoop3.2/jars/jsr305-3.0.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-common-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/macro-compat_2.12-1.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-sketch_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-dbcp-1.4.jar
spark-3.1.1-bin-hadoop3.2/jars/jersey-container-servlet-core-2.30.jar
spark-3.1.1-bin-hadoop3.2/jars/okio-1.14.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hk2-api-2.6.1.jar
spark-3.1.1-bin-hadoop3.2/jars/parquet-jackson-1.10.1.jar
spark-3.1.1-bin-hadoop3.2/jars/mesos-1.4.0-shaded-protobuf.jar
spark-3.1.1-bin-hadoop3.2/jars/orc-mapreduce-1.5.12.jar
spark-3.1.1-bin-hadoop3.2/jars/chill-java-0.9.5.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-settings-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-tags_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jakarta.servlet-api-4.0.3.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/automaton-1.11-8.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-lang-2.6.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-annotations-2.10.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hk2-utils-2.6.1.jar
spark-3.1.1-bin-hadoop3.2/jars/htrace-core4-4.1.0-incubating.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-core-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/velocity-1.5.jar
spark-3.1.1-bin-hadoop3.2/jars/jul-to-slf4j-1.7.30.jar
spark-3.1.1-bin-hadoop3.2/jars/JTransforms-3.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jersey-client-2.30.jar
spark-3.1.1-bin-hadoop3.2/jars/woodstox-core-5.0.3.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-catalyst_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/httpclient-4.5.6.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-discovery-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jcip-annotations-1.0-1.jar
spark-3.1.1-bin-hadoop3.2/jars/spire_2.12-0.17.0-M1.jar
spark-3.1.1-bin-hadoop3.2/jars/jersey-hk2-2.30.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-sql_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-math3-3.4.1.jar
spark-3.1.1-bin-hadoop3.2/jars/xbean-asm7-shaded-4.15.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-network-common_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jakarta.validation-api-2.0.2.jar
spark-3.1.1-bin-hadoop3.2/jars/nimbus-jose-jwt-4.41.1.jar
spark-3.1.1-bin-hadoop3.2/jars/parquet-encoding-1.10.1.jar
spark-3.1.1-bin-hadoop3.2/jars/snappy-java-1.1.8.2.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-util-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/slf4j-log4j12-1.7.30.jar
spark-3.1.1-bin-hadoop3.2/jars/slf4j-api-1.7.30.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-shims-0.23-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/guava-14.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-kubernetes_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/zjsonpatch-0.3.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-service-rpc-3.1.2.jar
spark-3.1.1-bin-hadoop3.2/jars/shapeless_2.12-2.3.3.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-graphx_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/oro-2.0.8.jar
spark-3.1.1-bin-hadoop3.2/jars/arrow-memory-netty-2.0.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-scheduling-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/libfb303-0.9.3.jar
spark-3.1.1-bin-hadoop3.2/jars/core-1.1.2.jar
spark-3.1.1-bin-hadoop3.2/jars/jersey-container-servlet-2.30.jar
spark-3.1.1-bin-hadoop3.2/jars/dnsjava-2.1.7.jar
spark-3.1.1-bin-hadoop3.2/jars/datanucleus-rdbms-4.1.19.jar
spark-3.1.1-bin-hadoop3.2/jars/super-csv-2.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/compress-lzf-1.0.3.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-module-paranamer-2.10.0.jar
spark-3.1.1-bin-hadoop3.2/jars/aopalliance-1.0.jar
spark-3.1.1-bin-hadoop3.2/jars/osgi-resource-locator-1.0.3.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-module-scala_2.12-2.10.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-shims-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/json-1.8.jar
spark-3.1.1-bin-hadoop3.2/jars/antlr-runtime-3.5.2.jar
spark-3.1.1-bin-hadoop3.2/jars/threeten-extra-1.5.0.jar
spark-3.1.1-bin-hadoop3.2/jars/orc-shims-1.5.12.jar
spark-3.1.1-bin-hadoop3.2/jars/arrow-vector-2.0.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-module-jaxb-annotations-2.10.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jersey-common-2.30.jar
spark-3.1.1-bin-hadoop3.2/jars/aircompressor-0.10.jar
spark-3.1.1-bin-hadoop3.2/jars/lz4-java-1.7.1.jar
spark-3.1.1-bin-hadoop3.2/jars/activation-1.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-crypto-1.1.0.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-daemon-1.0.13.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-tags_2.12-3.1.1-tests.jar
spark-3.1.1-bin-hadoop3.2/jars/libthrift-0.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/HikariCP-2.5.1.jar
spark-3.1.1-bin-hadoop3.2/jars/generex-1.0.2.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-configuration2-2.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/breeze-macros_2.12-1.0.jar
spark-3.1.1-bin-hadoop3.2/jars/leveldbjni-all-1.8.jar
spark-3.1.1-bin-hadoop3.2/jars/jaxb-runtime-2.3.2.jar
spark-3.1.1-bin-hadoop3.2/jars/json4s-scalap_2.12-3.7.0-M5.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-events-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-lang3-3.10.jar
spark-3.1.1-bin-hadoop3.2/jars/kerb-simplekdc-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-datatype-jsr310-2.11.2.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-httpclient-3.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-client-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-hive_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/shims-0.9.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-core-asl-1.9.13.jar
spark-3.1.1-bin-hadoop3.2/jars/scala-xml_2.12-1.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hk2-locator-2.6.1.jar
spark-3.1.1-bin-hadoop3.2/jars/orc-core-1.5.12.jar
spark-3.1.1-bin-hadoop3.2/jars/geronimo-jcache_1.0_spec-1.0-alpha-1.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-mapper-asl-1.9.13.jar
spark-3.1.1-bin-hadoop3.2/jars/kerby-config-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-common-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/xz-1.5.jar
spark-3.1.1-bin-hadoop3.2/jars/ST4-4.0.4.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-shims-scheduler-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-yarn_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/guice-4.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-batch-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/netty-all-4.1.51.Final.jar
spark-3.1.1-bin-hadoop3.2/jars/parquet-hadoop-1.10.1.jar
spark-3.1.1-bin-hadoop3.2/jars/chill_2.12-0.9.5.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-jaxrs-base-2.9.5.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-databind-2.10.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-yarn-server-common-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/scala-reflect-2.12.10.jar
spark-3.1.1-bin-hadoop3.2/jars/joda-time-2.10.5.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-io-2.5.jar
spark-3.1.1-bin-hadoop3.2/jars/minlog-1.3.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jakarta.ws.rs-api-2.1.6.jar
spark-3.1.1-bin-hadoop3.2/jars/aopalliance-repackaged-2.6.1.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-compress-1.20.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-core_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/bonecp-0.8.0.RELEASE.jar
spark-3.1.1-bin-hadoop3.2/jars/jodd-core-3.5.2.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-storageclass-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-core-2.10.0.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-core-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/protobuf-java-2.5.0.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-net-3.1.jar
spark-3.1.1-bin-hadoop3.2/jars/datanucleus-core-4.1.17.jar
spark-3.1.1-bin-hadoop3.2/jars/janino-3.0.16.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-shims-common-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/javolution-5.5.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-rbac-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/transaction-api-1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-metrics-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/curator-framework-2.13.0.jar
spark-3.1.1-bin-hadoop3.2/jars/okhttp-2.7.5.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-cli-1.2.jar
spark-3.1.1-bin-hadoop3.2/jars/jakarta.inject-2.6.1.jar
spark-3.1.1-bin-hadoop3.2/jars/metrics-jmx-4.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/zstd-jni-1.4.8-1.jar
spark-3.1.1-bin-hadoop3.2/jars/jakarta.xml.bind-api-2.3.2.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-yarn-common-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-codec-1.10.jar
spark-3.1.1-bin-hadoop3.2/jars/arpack_combined_all-0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-auth-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-metastore-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-beeline-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-client-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/metrics-core-4.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-llap-common-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/arrow-format-2.0.0.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-kvstore_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-yarn-client-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/javassist-3.25.0-GA.jar
spark-3.1.1-bin-hadoop3.2/jars/scala-collection-compat_2.12-2.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/arrow-memory-core-2.0.0.jar
spark-3.1.1-bin-hadoop3.2/jars/parquet-column-1.10.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-coordination-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/jackson-jaxrs-json-provider-2.9.5.jar
spark-3.1.1-bin-hadoop3.2/jars/avro-ipc-1.8.2.jar
spark-3.1.1-bin-hadoop3.2/jars/commons-text-1.6.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-apps-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/metrics-json-4.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/kerby-xdr-1.0.1.jar
spark-3.1.1-bin-hadoop3.2/jars/snakeyaml-1.24.jar
spark-3.1.1-bin-hadoop3.2/jars/ivy-2.4.0.jar
spark-3.1.1-bin-hadoop3.2/jars/univocity-parsers-2.9.1.jar
spark-3.1.1-bin-hadoop3.2/jars/pyrolite-4.30.jar
spark-3.1.1-bin-hadoop3.2/jars/spark-mesos_2.12-3.1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/hadoop-hdfs-client-3.2.0.jar
spark-3.1.1-bin-hadoop3.2/jars/log4j-1.2.17.jar
spark-3.1.1-bin-hadoop3.2/jars/hive-serde-2.3.7.jar
spark-3.1.1-bin-hadoop3.2/jars/scala-parser-combinators_2.12-1.1.2.jar
spark-3.1.1-bin-hadoop3.2/jars/kubernetes-model-networking-4.12.0.jar
spark-3.1.1-bin-hadoop3.2/jars/re2j-1.1.jar
spark-3.1.1-bin-hadoop3.2/jars/zookeeper-3.4.14.jar
spark-3.1.1-bin-hadoop3.2/jars/accessors-smart-1.2.jar
spark-3.1.1-bin-hadoop3.2/data/
spark-3.1.1-bin-hadoop3.2/data/mllib/
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_lda_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_libsvm_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_svm_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_multiclass_classification_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_linear_regression_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_lda_libsvm_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_fpgrowth.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_binary_classification_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_isotonic_regression_libsvm_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/iris_libsvm.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_movielens_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/als/
spark-3.1.1-bin-hadoop3.2/data/mllib/als/test.data
spark-3.1.1-bin-hadoop3.2/data/mllib/als/sample_movielens_ratings.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/sample_kmeans_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/pic_data.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/images/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/kittens/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/kittens/54893.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/kittens/not-image.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/kittens/DP802813.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/kittens/29.5.a_b_EGDP022204.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/kittens/DP153539.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/license.txt
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/BGRA.png
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/BGRA_alpha_60.png
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/grayscale.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/origin/multi-channel/chr30.4.184.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-01/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA.png
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-01/BGRA_alpha_60.png
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-02/
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-02/grayscale.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=multichannel/date=2018-02/chr30.4.184.jpg
spark-3.1.1-bin-hadoop3.2/data/mllib/images/partitioned/cls=kittens/

In [ ]:
# 
!ls '/content/'

sample_data  spark-3.1.1-bin-hadoop3.2	spark-3.1.1-bin-hadoop3.2.tgz

In [ ]:
# 
!pip install -q findspark

In [ ]:
# 
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2/"

In [ ]:
#     dataset
from google.colab import files
files.upload()

from google.colab import drive
drive.mount('/content/drive')

Saving archive.zip to archive.zip
Mounted at /content/drive

In [ ]:
#   .  ,  
!rm -R /content/date

rm: cannot remove '/content/date': No such file or directory

In [ ]:
#  
!unzip -q '/content/archive.zip' -d '/content/date'

In [ ]:
#  pyspark    
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('data_processing').getOrCreate()

df = spark.read.csv('/content/date/Case.csv', inferSchema=True, header=True)
df.columns

[' case_id',
 'province',
 'city',
 'group',
 'infection_case',
 'confirmed',
 'latitude',
 'longitude']

In [ ]:
df.show()

+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| case_id|province|           city|group|      infection_case|confirmed| latitude| longitude|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
| 1000001|   Seoul|     Yongsan-gu| true|       Itaewon Clubs|      139|37.538621|126.992652|
| 1000002|   Seoul|      Gwanak-gu| true|             Richway|      119| 37.48208|126.901384|
| 1000003|   Seoul|        Guro-gu| true| Guro-gu Call Center|       95|37.508163|126.884387|
| 1000004|   Seoul|   Yangcheon-gu| true|Yangcheon Table T...|       43|37.546061|126.874209|
| 1000005|   Seoul|      Dobong-gu| true|     Day Care Center|       43|37.679422|127.044374|
| 1000006|   Seoul|        Guro-gu| true|Manmin Central Ch...|       41|37.481059|126.894343|
| 1000007|   Seoul|from other city| true|SMR Newly Planted...|       36|        -|         -|
| 1000008|   Seoul|  Dongdaemun-gu| true|       Dongan Church|       17|37.592888|127.056766|
| 1000009|   Seoul|from other city| true|Coupang Logistics...|       25|        -|         -|
| 1000010|   Seoul|      Gwanak-gu| true|     Wangsung Church|       30|37.481735|126.930121|
| 1000011|   Seoul|   Eunpyeong-gu| true|Eunpyeong St. Mar...|       14| 37.63369|  126.9165|
| 1000012|   Seoul|   Seongdong-gu| true|    Seongdong-gu APT|       13| 37.55713|  127.0403|
| 1000013|   Seoul|      Jongno-gu| true|Jongno Community ...|       10| 37.57681|   127.006|
| 1000014|   Seoul|     Gangnam-gu| true|Samsung Medical C...|        7| 37.48825| 127.08559|
| 1000015|   Seoul|        Jung-gu| true|Jung-gu Fashion C...|        7|37.562405|126.984377|
| 1000016|   Seoul|   Seodaemun-gu| true|  Yeonana News Class|        5|37.558147|126.943799|
| 1000017|   Seoul|      Jongno-gu| true|Korea Campus Crus...|        7|37.594782|126.968022|
| 1000018|   Seoul|     Gangnam-gu| true|Gangnam Yeoksam-d...|        6|        -|         -|
| 1000019|   Seoul|from other city| true|Daejeon door-to-d...|        1|        -|         -|
| 1000020|   Seoul|   Geumcheon-gu| true|Geumcheon-gu rice...|        6|        -|         -|
+--------+--------+---------------+-----+--------------------+---------+---------+----------+
only showing top 20 rows

In [ ]:
df.limit(10).toPandas()

  province             city                  infection_source  confirmed
0    Seoul       Yongsan-gu                     Itaewon Clubs        139
1    Seoul        Gwanak-gu                           Richway        119
2    Seoul          Guro-gu               Guro-gu Call Center         95
3    Seoul     Yangcheon-gu       Yangcheon Table Tennis Club         43
4    Seoul        Dobong-gu                   Day Care Center         43
5    Seoul          Guro-gu             Manmin Central Church         41
6    Seoul  from other city  SMR Newly Planted Churches Group         36
7    Seoul    Dongdaemun-gu                     Dongan Church         17
8    Seoul  from other city          Coupang Logistics Center         25
9    Seoul        Gwanak-gu                   Wangsung Church         30

In [ ]:
# 
df = df.withColumnRenamed("infection_case","infection_source")
df.show()

+--------+---------------+--------------------+---------+
|province|           city|    infection_source|confirmed|
+--------+---------------+--------------------+---------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|      Gwanak-gu|             Richway|      119|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|      Dobong-gu|     Day Care Center|       43|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|
|   Seoul|from other city|SMR Newly Planted...|       36|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|
|   Seoul|from other city|Coupang Logistics...|       25|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|
|   Seoul|from other city|Daejeon door-to-d...|        1|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|
+--------+---------------+--------------------+---------+
only showing top 20 rows

In [ ]:
df = df.select('province','city','infection_source','confirmed')
df.show()

+--------+---------------+--------------------+---------+
|province|           city|    infection_source|confirmed|
+--------+---------------+--------------------+---------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|      Gwanak-gu|             Richway|      119|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|      Dobong-gu|     Day Care Center|       43|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|
|   Seoul|from other city|SMR Newly Planted...|       36|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|
|   Seoul|from other city|Coupang Logistics...|       25|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|
|   Seoul|from other city|Daejeon door-to-d...|        1|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|
+--------+---------------+--------------------+---------+
only showing top 20 rows

In [ ]:
df.sort("confirmed").show()

+-----------------+---------------+--------------------+---------+
|         province|           city|    infection_source|confirmed|
+-----------------+---------------+--------------------+---------+
|          Jeju-do|              -|contact with patient|        0|
|       Gangwon-do|              -|contact with patient|        0|
|            Seoul|     Gangseo-gu|SJ Investment Cal...|        0|
|            Busan|from other city|Cheongdo Daenam H...|        1|
|     Jeollabuk-do|from other city|  Shincheonji Church|        1|
|            Seoul|from other city|Anyang Gunpo Past...|        1|
|            Seoul|     Gangnam-gu|Gangnam Dongin Ch...|        1|
|           Sejong|from other city|  Shincheonji Church|        1|
|     Jeollanam-do|from other city|  Shincheonji Church|        1|
|          Jeju-do|from other city|       Itaewon Clubs|        1|
|            Seoul|from other city|Daejeon door-to-d...|        1|
|            Seoul|              -|         Orange Life|        1|
|           Sejong|              -|                 etc|        1|
|          Gwangju|              -|                 etc|        1|
|            Daegu|from other city|       Itaewon Clubs|        2|
|            Daegu|from other city|Cheongdo Daenam H...|        2|
|          Incheon|from other city|  Shincheonji Church|        2|
|            Seoul|from other city|Uiwang Logistics ...|        2|
|          Daejeon|from other city|  Shincheonji Church|        2|
|Chungcheongbuk-do|from other city| Guro-gu Call Center|        2|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [ ]:
# descending Sort
from pyspark.sql import functions as F
df.sort(F.desc("confirmed")).show()

+-----------------+---------------+--------------------+---------+
|         province|           city|    infection_source|confirmed|
+-----------------+---------------+--------------------+---------+
|            Daegu|         Nam-gu|  Shincheonji Church|     4511|
|            Daegu|              -|contact with patient|      917|
|            Daegu|              -|                 etc|      747|
| Gyeongsangbuk-do|from other city|  Shincheonji Church|      566|
|      Gyeonggi-do|              -|     overseas inflow|      305|
|            Seoul|              -|     overseas inflow|      298|
|            Daegu|   Dalseong-gun|Second Mi-Ju Hosp...|      196|
| Gyeongsangbuk-do|              -|contact with patient|      190|
|            Seoul|              -|contact with patient|      162|
|            Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
| Gyeongsangbuk-do|              -|                 etc|      133|
|            Daegu|         Seo-gu|Hansarang Convale...|      124|
|            Seoul|      Gwanak-gu|             Richway|      119|
| Gyeongsangbuk-do|   Cheongdo-gun|Cheongdo Daenam H...|      119|
|Chungcheongnam-do|     Cheonan-si|gym facility in C...|      103|
|            Daegu|   Dalseong-gun|Daesil Convalesce...|      101|
|            Seoul|              -|                 etc|      100|
|            Seoul|        Guro-gu| Guro-gu Call Center|       95|
|      Gyeonggi-do|              -|                 etc|       84|
|          Incheon|              -|     overseas inflow|       68|
+-----------------+---------------+--------------------+---------+
only showing top 20 rows

In [ ]:
#  Pyspark    integer  , 
#   ,        
from pyspark.sql.types import DoubleType, IntegerType, StringType

df = df.withColumn('confirmed', F.col('confirmed').cast(IntegerType()))
df = df.withColumn('city', F.col('city').cast(StringType()))
df.show()

+--------+---------------+--------------------+---------+
|province|           city|    infection_source|confirmed|
+--------+---------------+--------------------+---------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|
|   Seoul|      Gwanak-gu|             Richway|      119|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|
|   Seoul|      Dobong-gu|     Day Care Center|       43|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|
|   Seoul|from other city|SMR Newly Planted...|       36|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|
|   Seoul|from other city|Coupang Logistics...|       25|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|
|   Seoul|from other city|Daejeon door-to-d...|        1|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|
+--------+---------------+--------------------+---------+
only showing top 20 rows

In [ ]:
#       , 
#   AND (), OR (|)  NOT

df.filter((df.confirmed>10) & (df.province=='Daegu')).show()

+--------+------------+--------------------+---------+
|province|        city|    infection_source|confirmed|
+--------+------------+--------------------+---------+
|   Daegu|      Nam-gu|  Shincheonji Church|     4511|
|   Daegu|Dalseong-gun|Second Mi-Ju Hosp...|      196|
|   Daegu|      Seo-gu|Hansarang Convale...|      124|
|   Daegu|Dalseong-gun|Daesil Convalesce...|      101|
|   Daegu|     Dong-gu|     Fatima Hospital|       39|
|   Daegu|           -|     overseas inflow|       41|
|   Daegu|           -|contact with patient|      917|
|   Daegu|           -|                 etc|      747|
+--------+------------+--------------------+---------+

In [ ]:
# groupBy
from pyspark.sql import functions as F

df.groupBy(["province","city"]).agg(F.sum("confirmed") ,F.max("confirmed")).show()

+----------------+---------------+--------------+--------------+
|        province|           city|sum(confirmed)|max(confirmed)|
+----------------+---------------+--------------+--------------+
|Gyeongsangnam-do|       Jinju-si|             9|             9|
|           Seoul|        Guro-gu|           139|            95|
|           Seoul|     Gangnam-gu|            18|             7|
|         Daejeon|              -|           100|            55|
|    Jeollabuk-do|from other city|             6|             3|
|Gyeongsangnam-do|Changnyeong-gun|             7|             7|
|           Seoul|              -|           561|           298|
|         Jeju-do|from other city|             1|             1|
|Gyeongsangbuk-do|              -|           345|           190|
|Gyeongsangnam-do|   Geochang-gun|            18|            10|
|Gyeongsangbuk-do|        Gumi-si|            10|            10|
|         Incheon|from other city|           117|            53|
|           Busan|              -|            85|            36|
|           Daegu|         Seo-gu|           124|           124|
|           Busan|     Suyeong-gu|             5|             5|
|     Gyeonggi-do|   Uijeongbu-si|            50|            50|
|           Seoul|     Yongsan-gu|           139|           139|
|           Daegu|              -|          1705|           917|
|           Seoul|   Seodaemun-gu|             5|             5|
|     Gyeonggi-do|    Seongnam-si|            94|            67|
+----------------+---------------+--------------+--------------+
only showing top 20 rows

In [ ]:
#         .aliasagg

df.groupBy(["province","city"]).agg(
    F.sum("confirmed").alias("TotalConfirmed"),\
    F.max("confirmed").alias("MaxFromOneConfirmedCase")\
    ).show()

+----------------+---------------+--------------+-----------------------+
|        province|           city|TotalConfirmed|MaxFromOneConfirmedCase|
+----------------+---------------+--------------+-----------------------+
|Gyeongsangnam-do|       Jinju-si|             9|                      9|
|           Seoul|        Guro-gu|           139|                     95|
|           Seoul|     Gangnam-gu|            18|                      7|
|         Daejeon|              -|           100|                     55|
|    Jeollabuk-do|from other city|             6|                      3|
|Gyeongsangnam-do|Changnyeong-gun|             7|                      7|
|           Seoul|              -|           561|                    298|
|         Jeju-do|from other city|             1|                      1|
|Gyeongsangbuk-do|              -|           345|                    190|
|Gyeongsangnam-do|   Geochang-gun|            18|                     10|
|Gyeongsangbuk-do|        Gumi-si|            10|                     10|
|         Incheon|from other city|           117|                     53|
|           Busan|              -|            85|                     36|
|           Daegu|         Seo-gu|           124|                    124|
|           Busan|     Suyeong-gu|             5|                      5|
|     Gyeonggi-do|   Uijeongbu-si|            50|                     50|
|           Seoul|     Yongsan-gu|           139|                    139|
|           Daegu|              -|          1705|                    917|
|           Seoul|   Seodaemun-gu|             5|                      5|
|     Gyeonggi-do|    Seongnam-si|            94|                     67|
+----------------+---------------+--------------+-----------------------+
only showing top 20 rows

In [ ]:
# Join

regions = spark.read.load("/content/date/Region.csv",format="csv", sep=",", inferSchema="true", header="true")
regions.limit(10).toPandas()

    code province  ... elderly_alone_ratio  nursing_home_count
0  10000    Seoul  ...                 5.8               22739
1  10010    Seoul  ...                 4.3                3088
2  10020    Seoul  ...                 5.4                1023
3  10030    Seoul  ...                 8.5                 628
4  10040    Seoul  ...                 5.7                1080
5  10050    Seoul  ...                 4.9                 909
6  10060    Seoul  ...                 4.8                 723
7  10070    Seoul  ...                 5.7                 741
8  10080    Seoul  ...                 6.7                 475
9  10090    Seoul  ...                 7.4                 952

[10 rows x 12 columns]

In [ ]:
# Left join

cases = df.join(regions, ['province','city'], how='left')
cases.limit(10).toPandas()

  province             city  ... elderly_alone_ratio  nursing_home_count
0    Seoul       Yongsan-gu  ...                 6.5               435.0
1    Seoul        Gwanak-gu  ...                 4.9               909.0
2    Seoul          Guro-gu  ...                 5.7               741.0
3    Seoul     Yangcheon-gu  ...                 5.5               816.0
4    Seoul        Dobong-gu  ...                 7.2               485.0
5    Seoul          Guro-gu  ...                 5.7               741.0
6    Seoul  from other city  ...                 NaN                 NaN
7    Seoul    Dongdaemun-gu  ...                 6.7               832.0
8    Seoul  from other city  ...                 NaN                 NaN
9    Seoul        Gwanak-gu  ...                 4.9               909.0

[10 rows x 14 columns]

In [ ]:
#     

from pyspark.sql.functions import broadcast
cases = cases.join(broadcast(regions), ['province','city'], how='left')
cases.show()

+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|province|           city|    infection_source|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|
|   Seoul|      Gwanak-gu|             Richway|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|
|   Seoul|      Dobong-gu|     Day Care Center|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|
|   Seoul|from other city|SMR Newly Planted...|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|
|   Seoul|from other city|Coupang Logistics...|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|
|   Seoul|from other city|Daejeon door-to-d...|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
only showing top 20 rows

In [ ]:
# Broadcast/Map Side Joins
import pandas as pd 

big = pd.DataFrame({'A':[1,1,1,1,2,2,2,2],'price': [i for i in range(8)]}) 
small = pd.DataFrame({'A':[1,1,1,1,2,2],'agg':['sum','mean','max','min','sum','mean']})

big

   A  price
0  1      0
1  1      1
2  1      2
3  1      3
4  2      4
5  2      5
6  2      6
7  2      7

In [ ]:
small

   A   agg
0  1   sum
1  1  mean
2  1   max
3  1   min
4  2   sum
5  2  mean

In [ ]:
big.merge(small,on = ['A'],how='left')

    A  price   agg
0   1      0   sum
1   1      0  mean
2   1      0   max
3   1      0   min
4   1      1   sum
5   1      1  mean
6   1      1   max
7   1      1   min
8   1      2   sum
9   1      2  mean
10  1      2   max
11  1      2   min
12  1      3   sum
13  1      3  mean
14  1      3   max
15  1      3   min
16  2      4   sum
17  2      4  mean
18  2      5   sum
19  2      5  mean
20  2      6   sum
21  2      6  mean
22  2      7   sum
23  2      7  mean

In [ ]:
# SQL
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)

cases.registerTempTable('cases_table')
newDF = sqlContext.sql('select * from cases_table where confirmed>100')
newDF.show()

+-----------------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|         province|           city|    infection_source|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|
+-----------------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+
|            Seoul|     Yongsan-gu|       Itaewon Clubs|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|
|            Seoul|      Gwanak-gu|             Richway|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|
|            Seoul|              -|     overseas inflow|      298| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|            Seoul|              -|contact with patient|      162| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|            Daegu|         Nam-gu|  Shincheonji Church|     4511|12010|  35.8463|128.597723|                     11|                15|               2|         0.85|                   22.49|               10.4|               345|12010|  35.8463|128.597723|                     11|                15|               2|         0.85|                   22.49|               10.4|               345|12010|  35.8463|128.597723|                     11|                15|               2|         0.85|                   22.49|               10.4|               345|
|            Daegu|   Dalseong-gun|Second Mi-Ju Hosp...|      196|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|
|            Daegu|         Seo-gu|Hansarang Convale...|      124|12060|35.871993|128.559182|                     17|                23|               0|         0.83|                   21.29|               10.1|               374|12060|35.871993|128.559182|                     17|                23|               0|         0.83|                   21.29|               10.1|               374|12060|35.871993|128.559182|                     17|                23|               0|         0.83|                   21.29|               10.1|               374|
|            Daegu|   Dalseong-gun|Daesil Convalesce...|      101|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|12030| 35.77475|128.431314|                     32|                47|               1|         1.51|                   12.11|                5.4|               361|
|            Daegu|              -|contact with patient|      917| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|            Daegu|              -|                 etc|      747| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|      Gyeonggi-do|              -|     overseas inflow|      305| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
|Chungcheongnam-do|     Cheonan-si|gym facility in C...|      103|41120| 36.81498|127.113868|                     75|               112|               6|         1.91|                   10.42|                4.5|              1069|41120| 36.81498|127.113868|                     75|               112|               6|         1.91|                   10.42|                4.5|              1069|41120| 36.81498|127.113868|                     75|               112|               6|         1.91|                   10.42|                4.5|              1069|
| Gyeongsangbuk-do|from other city|  Shincheonji Church|      566| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
| Gyeongsangbuk-do|   Cheongdo-gun|Cheongdo Daenam H...|      119|60200|35.647361|128.734382|                     11|                14|               0|         0.63|                   36.55|               21.0|                85|60200|35.647361|128.734382|                     11|                14|               0|         0.63|                   36.55|               21.0|                85|60200|35.647361|128.734382|                     11|                14|               0|         0.63|                   36.55|               21.0|                85|
| Gyeongsangbuk-do|              -|contact with patient|      190| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
| Gyeongsangbuk-do|              -|                 etc|      133| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|
+-----------------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+

In [ ]:
# Add columns

import pyspark.sql.functions as F
casesWithNewConfirmed = cases.withColumn("NewConfirmed", 100 + F.col("confirmed"))
casesWithNewConfirmed.show()

+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+------------+
|province|           city|    infection_source|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|NewConfirmed|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+------------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|         239|
|   Seoul|      Gwanak-gu|             Richway|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|         219|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|         195|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|         143|
|   Seoul|      Dobong-gu|     Day Care Center|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|         143|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|         141|
|   Seoul|from other city|SMR Newly Planted...|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|         136|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|         117|
|   Seoul|from other city|Coupang Logistics...|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|         125|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|         130|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|         114|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|         113|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|         110|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|         107|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|         107|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|         105|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|         107|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|         106|
|   Seoul|from other city|Daejeon door-to-d...|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|         101|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|         106|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+------------+
only showing top 20 rows

In [ ]:
# 

casesWithExpConfirmed = cases.withColumn("ExpConfirmed", F.exp("confirmed"))
casesWithExpConfirmed.show()

+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+--------------------+
|province|           city|    infection_source|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|        ExpConfirmed|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+--------------------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|2.327732040478862E60|
|   Seoul|      Gwanak-gu|             Richway|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|4.797813327299302E51|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|1.811239082889023...|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|4.727839468229346...|
|   Seoul|      Dobong-gu|     Day Care Center|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|4.727839468229346...|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|6.398434935300549...|
|   Seoul|from other city|SMR Newly Planted...|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|4.311231547115195E15|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|  2.41549527535753E7|
|   Seoul|from other city|Coupang Logistics...|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|7.200489933738588E10|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|1.068647458152446...|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|  1202604.2841647768|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|   442413.3920089205|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|  22026.465794806718|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|  1096.6331584284585|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|  1096.6331584284585|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|   148.4131591025766|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|  1096.6331584284585|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|   403.4287934927351|
|   Seoul|from other city|Daejeon door-to-d...|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|  2.7182818284590455|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|   403.4287934927351|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+--------------------+
only showing top 20 rows

In [ ]:
#  UDFs Spark

import pyspark.sql.functions as F
from pyspark.sql.types import *
def casesHighLow(confirmed):
    if confirmed < 50: 
        return 'low'
    else:
        return 'high'
    
#convert to a UDF Function by passing in the function and return type of function
casesHighLowUDF = F.udf(casesHighLow, StringType())
CasesWithHighLow = cases.withColumn("HighLow", casesHighLowUDF("confirmed"))
CasesWithHighLow.show()

+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------+
|province|           city|    infection_source|confirmed| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count| code| latitude| longitude|elementary_school_count|kindergarten_count|university_count|academy_ratio|elderly_population_ratio|elderly_alone_ratio|nursing_home_count|HighLow|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|10210|37.532768|126.990021|                     15|                13|               1|         0.68|                   16.87|                6.5|               435|   high|
|   Seoul|      Gwanak-gu|             Richway|      119|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|   high|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|   high|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|10190|37.517189|126.866618|                     30|                43|               0|         2.26|                   13.55|                5.5|               816|    low|
|   Seoul|      Dobong-gu|     Day Care Center|       43|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|10100|37.668952|127.047082|                     23|                26|               1|         0.95|                   17.89|                7.2|               485|    low|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|10070|37.495632| 126.88765|                     26|                34|               3|          1.0|                   16.21|                5.7|               741|    low|
|   Seoul|from other city|SMR Newly Planted...|       36| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|    low|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|10110|37.574552|127.039721|                     21|                31|               4|         1.06|                   17.26|                6.7|               832|    low|
|   Seoul|from other city|Coupang Logistics...|       25| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|    low|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|10050| 37.47829|126.951502|                     22|                33|               1|         0.89|                   15.12|                4.9|               909|    low|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|10220|37.603481|126.929173|                     31|                44|               1|         1.09|                    17.0|                6.5|               874|    low|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|10160|37.563277|127.036647|                     21|                30|               2|         0.97|                   14.76|                5.3|               593|    low|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|    low|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|    low|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|10240|37.563988| 126.99753|                     12|                14|               2|         0.94|                   18.42|                7.4|               728|    low|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|10140|37.579428|126.936771|                     19|                25|               6|         1.12|                   16.77|                6.2|               587|    low|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|10230|37.572999|126.979189|                     13|                17|               3|         1.71|                   18.27|                6.8|               668|    low|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|10010|37.518421|127.047222|                     33|                38|               0|         4.18|                   13.17|                4.3|              3088|    low|
|   Seoul|from other city|Daejeon door-to-d...|        1| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null| null|     null|      null|                   null|              null|            null|         null|                    null|               null|              null|    low|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|10080|37.456852|126.895229|                     18|                19|               0|         0.96|                   16.15|                6.7|               475|    low|
+--------+---------------+--------------------+---------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-----+---------+----------+-----------------------+------------------+----------------+-------------+------------------------+-------------------+------------------+-------+
only showing top 20 rows

In [ ]:
df = spark.read.csv('/content/date/Case.csv', inferSchema=True, header=True)
df.columns

In [ ]:
# Spark UDFs
import pyspark.sql.functions as F
from pyspark.sql.types import *

def casesHighLow(confirmed):
    if confirmed < 50: 
        return 'low'
    else:
        return 'high'
    
#convert to a UDF Function by passing in the function and return type of function
casesHighLowUDF = F.udf(casesHighLow, StringType())

CasesWithHighLow = df.withColumn("HighLow", casesHighLowUDF("confirmed"))
CasesWithHighLow.show()

+--------+---------------+--------------------+---------+-------+
|province|           city|    infection_source|confirmed|HighLow|
+--------+---------------+--------------------+---------+-------+
|   Seoul|     Yongsan-gu|       Itaewon Clubs|      139|   high|
|   Seoul|      Gwanak-gu|             Richway|      119|   high|
|   Seoul|        Guro-gu| Guro-gu Call Center|       95|   high|
|   Seoul|   Yangcheon-gu|Yangcheon Table T...|       43|    low|
|   Seoul|      Dobong-gu|     Day Care Center|       43|    low|
|   Seoul|        Guro-gu|Manmin Central Ch...|       41|    low|
|   Seoul|from other city|SMR Newly Planted...|       36|    low|
|   Seoul|  Dongdaemun-gu|       Dongan Church|       17|    low|
|   Seoul|from other city|Coupang Logistics...|       25|    low|
|   Seoul|      Gwanak-gu|     Wangsung Church|       30|    low|
|   Seoul|   Eunpyeong-gu|Eunpyeong St. Mar...|       14|    low|
|   Seoul|   Seongdong-gu|    Seongdong-gu APT|       13|    low|
|   Seoul|      Jongno-gu|Jongno Community ...|       10|    low|
|   Seoul|     Gangnam-gu|Samsung Medical C...|        7|    low|
|   Seoul|        Jung-gu|Jung-gu Fashion C...|        7|    low|
|   Seoul|   Seodaemun-gu|  Yeonana News Class|        5|    low|
|   Seoul|      Jongno-gu|Korea Campus Crus...|        7|    low|
|   Seoul|     Gangnam-gu|Gangnam Yeoksam-d...|        6|    low|
|   Seoul|from other city|Daejeon door-to-d...|        1|    low|
|   Seoul|   Geumcheon-gu|Geumcheon-gu rice...|        6|    low|
+--------+---------------+--------------------+---------+-------+
only showing top 20 rows

In [ ]:
# 

import math
from pyspark.sql import Row
def rowwise_function(row):
    # convert row to python dictionary:
    row_dict = row.asDict()
    # Add a new key in the dictionary with the new column name and value.
    # This might be a big complex function.
    row_dict['expConfirmed'] = float(np.exp(row_dict['confirmed']))
    # convert dict to row back again:
    newrow = Row(**row_dict)
    # return new row
    return newrow

# convert cases dataframe to RDD
cases_rdd = df.rdd

# apply our function to RDD
cases_rdd_new = cases_rdd.map(lambda row: rowwise_function(row))

# Convert RDD Back to DataFrame
casesNewDf = sqlContext.createDataFrame(cases_rdd_new)

casesNewDf.show()

Py4JJavaError: ignored

In [ ]:
df.printSchema()

root
 |-- province: string (nullable = true)
 |-- city: string (nullable = true)
 |-- infection_source: string (nullable = true)
 |-- confirmed: integer (nullable = true)

In [ ]:
from pyspark.sql.types import IntegerType, StringType, DoubleType, BooleanType
from pyspark.sql.types import StructType, StructField

# Declare the schema for the output of our function

outSchema = StructType([StructField('case_id',IntegerType(),True),
                        StructField('province',StringType(),True),
                        StructField('city',StringType(),True),
                        StructField('group',BooleanType(),True),
                        StructField('infection_case',StringType(),True),
                        StructField('confirmed',IntegerType(),True),
                        StructField('latitude',StringType(),True),
                        StructField('longitude',StringType(),True),
                        StructField('normalized_confirmed',DoubleType(),True)
                       ])
# decorate our function with pandas_udf decorator
@F.pandas_udf(outSchema, F.PandasUDFType.GROUPED_MAP)
def subtract_mean(pdf):
    # pdf is a pandas.DataFrame
    v = pdf.confirmed
    v = v - v.mean()
    pdf['normalized_confirmed'] = v
    return pdf

confirmed_groupwise_normalization =df.groupby("infection_source").apply(subtract_mean)

/content/spark-3.1.1-bin-hadoop3.2/python/pyspark/sql/pandas/group_ops.py:84: UserWarning: It is preferred to use 'applyInPandas' over this API. This API will be deprecated in the future releases. See SPARK-28264 for more details.
  "more details.", UserWarning)

In [ ]:
# Spark Window Functions

timeprovince = spark.read.load("/content/date/TimeProvince.csv",format="csv", \
                        sep=",", inferSchema="true", header="true")
timeprovince.show()

+----------+----+-----------------+---------+--------+--------+
|      date|time|         province|confirmed|released|deceased|
+----------+----+-----------------+---------+--------+--------+
|2020-01-20|  16|            Seoul|        0|       0|       0|
|2020-01-20|  16|            Busan|        0|       0|       0|
|2020-01-20|  16|            Daegu|        0|       0|       0|
|2020-01-20|  16|          Incheon|        1|       0|       0|
|2020-01-20|  16|          Gwangju|        0|       0|       0|
|2020-01-20|  16|          Daejeon|        0|       0|       0|
|2020-01-20|  16|            Ulsan|        0|       0|       0|
|2020-01-20|  16|           Sejong|        0|       0|       0|
|2020-01-20|  16|      Gyeonggi-do|        0|       0|       0|
|2020-01-20|  16|       Gangwon-do|        0|       0|       0|
|2020-01-20|  16|Chungcheongbuk-do|        0|       0|       0|
|2020-01-20|  16|Chungcheongnam-do|        0|       0|       0|
|2020-01-20|  16|     Jeollabuk-do|        0|       0|       0|
|2020-01-20|  16|     Jeollanam-do|        0|       0|       0|
|2020-01-20|  16| Gyeongsangbuk-do|        0|       0|       0|
|2020-01-20|  16| Gyeongsangnam-do|        0|       0|       0|
|2020-01-20|  16|          Jeju-do|        0|       0|       0|
|2020-01-21|  16|            Seoul|        0|       0|       0|
|2020-01-21|  16|            Busan|        0|       0|       0|
|2020-01-21|  16|            Daegu|        0|       0|       0|
+----------+----+-----------------+---------+--------+--------+
only showing top 20 rows

In [ ]:
# Ranking

from pyspark.sql.window import Window
windowSpec = Window().partitionBy(['province']).orderBy(F.desc('confirmed'))
df.withColumn("rank",F.rank().over(windowSpec)).show()

+-----------------+---------------+--------------------+---------+----+
|         province|           city|    infection_source|confirmed|rank|
+-----------------+---------------+--------------------+---------+----+
|           Sejong|         Sejong|Ministry of Ocean...|       31|   1|
|           Sejong|         Sejong|gym facility in S...|        8|   2|
|           Sejong|              -|     overseas inflow|        5|   3|
|           Sejong|              -|contact with patient|        3|   4|
|           Sejong|from other city|  Shincheonji Church|        1|   5|
|           Sejong|              -|                 etc|        1|   5|
|            Ulsan|              -|     overseas inflow|       25|   1|
|            Ulsan|from other city|  Shincheonji Church|       16|   2|
|            Ulsan|              -|                 etc|        7|   3|
|            Ulsan|              -|contact with patient|        3|   4|
|Chungcheongbuk-do|              -|     overseas inflow|       13|   1|
|Chungcheongbuk-do|     Goesan-gun|Goesan-gun Jangye...|       11|   2|
|Chungcheongbuk-do|              -|                 etc|       11|   2|
|Chungcheongbuk-do|from other city|       Itaewon Clubs|        9|   4|
|Chungcheongbuk-do|              -|contact with patient|        8|   5|
|Chungcheongbuk-do|from other city|  Shincheonji Church|        6|   6|
|Chungcheongbuk-do|from other city| Guro-gu Call Center|        2|   7|
|       Gangwon-do|from other city|  Shincheonji Church|       17|   1|
|       Gangwon-do|              -|     overseas inflow|       16|   2|
|       Gangwon-do|from other city|Uijeongbu St. Mar...|       10|   3|
+-----------------+---------------+--------------------+---------+----+
only showing top 20 rows

In [ ]:
# Lag


from pyspark.sql.window import Window
windowSpec = Window().partitionBy(['province']).orderBy('date')
timeprovinceWithLag = timeprovince.withColumn("lag_7",F.lag("confirmed", 7).over(windowSpec))

timeprovinceWithLag.filter(timeprovinceWithLag.date>'2020-03-10').show()

+----------+----+--------+---------+--------+--------+-----+
|      date|time|province|confirmed|released|deceased|lag_7|
+----------+----+--------+---------+--------+--------+-----+
|2020-03-11|   0|  Sejong|       10|       0|       0|    1|
|2020-03-12|   0|  Sejong|       15|       0|       0|    1|
|2020-03-13|   0|  Sejong|       32|       0|       0|    1|
|2020-03-14|   0|  Sejong|       38|       0|       0|    2|
|2020-03-15|   0|  Sejong|       39|       0|       0|    3|
|2020-03-16|   0|  Sejong|       40|       0|       0|    6|
|2020-03-17|   0|  Sejong|       40|       0|       0|    8|
|2020-03-18|   0|  Sejong|       41|       0|       0|   10|
|2020-03-19|   0|  Sejong|       41|       0|       0|   15|
|2020-03-20|   0|  Sejong|       41|       0|       0|   32|
|2020-03-21|   0|  Sejong|       41|       2|       0|   38|
|2020-03-22|   0|  Sejong|       41|       3|       0|   39|
|2020-03-23|   0|  Sejong|       42|       3|       0|   40|
|2020-03-24|   0|  Sejong|       42|       3|       0|   40|
|2020-03-25|   0|  Sejong|       44|       3|       0|   41|
|2020-03-26|   0|  Sejong|       44|       8|       0|   41|
|2020-03-27|   0|  Sejong|       44|       9|       0|   41|
|2020-03-28|   0|  Sejong|       44|       9|       0|   41|
|2020-03-29|   0|  Sejong|       46|      11|       0|   41|
|2020-03-30|   0|  Sejong|       46|      12|       0|   42|
+----------+----+--------+---------+--------+--------+-----+
only showing top 20 rows

In [ ]:
# Rolling Aggregations

from pyspark.sql.window import Window

windowSpec = Window().partitionBy(['province']).orderBy('date').rowsBetween(-6,0)
timeprovinceWithRoll = timeprovince.withColumn("roll_7_confirmed",F.mean("confirmed").over(windowSpec))
timeprovinceWithRoll.filter(timeprovinceWithLag.date>'2020-03-10').show()

+----------+----+--------+---------+--------+--------+------------------+
|      date|time|province|confirmed|released|deceased|  roll_7_confirmed|
+----------+----+--------+---------+--------+--------+------------------+
|2020-03-11|   0|  Sejong|       10|       0|       0| 4.428571428571429|
|2020-03-12|   0|  Sejong|       15|       0|       0| 6.428571428571429|
|2020-03-13|   0|  Sejong|       32|       0|       0|10.857142857142858|
|2020-03-14|   0|  Sejong|       38|       0|       0|              16.0|
|2020-03-15|   0|  Sejong|       39|       0|       0|21.142857142857142|
|2020-03-16|   0|  Sejong|       40|       0|       0|              26.0|
|2020-03-17|   0|  Sejong|       40|       0|       0|30.571428571428573|
|2020-03-18|   0|  Sejong|       41|       0|       0|              35.0|
|2020-03-19|   0|  Sejong|       41|       0|       0|38.714285714285715|
|2020-03-20|   0|  Sejong|       41|       0|       0|              40.0|
|2020-03-21|   0|  Sejong|       41|       2|       0| 40.42857142857143|
|2020-03-22|   0|  Sejong|       41|       3|       0|40.714285714285715|
|2020-03-23|   0|  Sejong|       42|       3|       0|              41.0|
|2020-03-24|   0|  Sejong|       42|       3|       0|41.285714285714285|
|2020-03-25|   0|  Sejong|       44|       3|       0|41.714285714285715|
|2020-03-26|   0|  Sejong|       44|       8|       0|42.142857142857146|
|2020-03-27|   0|  Sejong|       44|       9|       0| 42.57142857142857|
|2020-03-28|   0|  Sejong|       44|       9|       0|              43.0|
|2020-03-29|   0|  Sejong|       46|      11|       0|43.714285714285715|
|2020-03-30|   0|  Sejong|       46|      12|       0|44.285714285714285|
+----------+----+--------+---------+--------+--------+------------------+
only showing top 20 rows

In [ ]:
# Running Totals

from pyspark.sql.window import Window

windowSpec = Window().partitionBy(['province']).orderBy('date').rowsBetween(Window.unboundedPreceding,Window.currentRow)
timeprovinceWithRoll = timeprovince.withColumn("cumulative_confirmed",F.sum("confirmed").over(windowSpec))
timeprovinceWithRoll.filter(timeprovinceWithLag.date>'2020-03-10').show()

+----------+----+--------+---------+--------+--------+--------------------+
|      date|time|province|confirmed|released|deceased|cumulative_confirmed|
+----------+----+--------+---------+--------+--------+--------------------+
|2020-03-11|   0|  Sejong|       10|       0|       0|                  43|
|2020-03-12|   0|  Sejong|       15|       0|       0|                  58|
|2020-03-13|   0|  Sejong|       32|       0|       0|                  90|
|2020-03-14|   0|  Sejong|       38|       0|       0|                 128|
|2020-03-15|   0|  Sejong|       39|       0|       0|                 167|
|2020-03-16|   0|  Sejong|       40|       0|       0|                 207|
|2020-03-17|   0|  Sejong|       40|       0|       0|                 247|
|2020-03-18|   0|  Sejong|       41|       0|       0|                 288|
|2020-03-19|   0|  Sejong|       41|       0|       0|                 329|
|2020-03-20|   0|  Sejong|       41|       0|       0|                 370|
|2020-03-21|   0|  Sejong|       41|       2|       0|                 411|
|2020-03-22|   0|  Sejong|       41|       3|       0|                 452|
|2020-03-23|   0|  Sejong|       42|       3|       0|                 494|
|2020-03-24|   0|  Sejong|       42|       3|       0|                 536|
|2020-03-25|   0|  Sejong|       44|       3|       0|                 580|
|2020-03-26|   0|  Sejong|       44|       8|       0|                 624|
|2020-03-27|   0|  Sejong|       44|       9|       0|                 668|
|2020-03-28|   0|  Sejong|       44|       9|       0|                 712|
|2020-03-29|   0|  Sejong|       46|      11|       0|                 758|
|2020-03-30|   0|  Sejong|       46|      12|       0|                 804|
+----------+----+--------+---------+--------+--------+--------------------+
only showing top 20 rows

In [ ]:
# Pivot Dataframes

pivotedTimeprovince = timeprovince.groupBy('date').pivot('province') \
                      .agg(F.sum('confirmed').alias('confirmed') , F.sum('released').alias('released'))
pivotedTimeprovince.limit(10).toPandas()

         date  Busan_confirmed  ...  Ulsan_confirmed  Ulsan_released
0  2020-04-13              126  ...               41              33
1  2020-02-26               58  ...                4               0
2  2020-06-24              152  ...               55              48
3  2020-06-08              147  ...               53              46
4  2020-06-22              150  ...               53              48
5  2020-06-20              150  ...               53              48
6  2020-04-12              126  ...               41              32
7  2020-02-13                0  ...                0               0
8  2020-04-20              132  ...               43              34
9  2020-06-09              147  ...               53              46

[10 rows x 35 columns]

In [ ]:
# Unpivot/Stack Dataframes

pivotedTimeprovince.columns

['date',
 'Busan_confirmed',
 'Busan_released',
 'Chungcheongbuk-do_confirmed',
 'Chungcheongbuk-do_released',
 'Chungcheongnam-do_confirmed',
 'Chungcheongnam-do_released',
 'Daegu_confirmed',
 'Daegu_released',
 'Daejeon_confirmed',
 'Daejeon_released',
 'Gangwon-do_confirmed',
 'Gangwon-do_released',
 'Gwangju_confirmed',
 'Gwangju_released',
 'Gyeonggi-do_confirmed',
 'Gyeonggi-do_released',
 'Gyeongsangbuk-do_confirmed',
 'Gyeongsangbuk-do_released',
 'Gyeongsangnam-do_confirmed',
 'Gyeongsangnam-do_released',
 'Incheon_confirmed',
 'Incheon_released',
 'Jeju-do_confirmed',
 'Jeju-do_released',
 'Jeollabuk-do_confirmed',
 'Jeollabuk-do_released',
 'Jeollanam-do_confirmed',
 'Jeollanam-do_released',
 'Sejong_confirmed',
 'Sejong_released',
 'Seoul_confirmed',
 'Seoul_released',
 'Ulsan_confirmed',
 'Ulsan_released']

In [ ]:
newColnames = [x.replace("-","_") for x in pivotedTimeprovince.columns]

In [ ]:
pivotedTimeprovince = pivotedTimeprovince.toDF(*newColnames)

In [ ]:
expression = ""
cnt=0
for column in pivotedTimeprovince.columns:
    if column!='date':
        cnt +=1
        expression += f"'{column}' , {column},"
        
expression = f"stack({cnt}, {expression[:-1]}) as (Type,Value)"

In [ ]:
unpivotedTimeprovince = pivotedTimeprovince.select('date',F.expr(expression))
unpivotedTimeprovince.show()

+----------+--------------------+-----+
|      date|                Type|Value|
+----------+--------------------+-----+
|2020-04-13|     Busan_confirmed|  126|
|2020-04-13|      Busan_released|  103|
|2020-04-13|Chungcheongbuk_do...|   45|
|2020-04-13|Chungcheongbuk_do...|   31|
|2020-04-13|Chungcheongnam_do...|  139|
|2020-04-13|Chungcheongnam_do...|  109|
|2020-04-13|     Daegu_confirmed| 6819|
|2020-04-13|      Daegu_released| 5395|
|2020-04-13|   Daejeon_confirmed|   39|
|2020-04-13|    Daejeon_released|   23|
|2020-04-13|Gangwon_do_confirmed|   49|
|2020-04-13| Gangwon_do_released|   28|
|2020-04-13|   Gwangju_confirmed|   27|
|2020-04-13|    Gwangju_released|   19|
|2020-04-13|Gyeonggi_do_confi...|  631|
|2020-04-13|Gyeonggi_do_released|  305|
|2020-04-13|Gyeongsangbuk_do_...| 1337|
|2020-04-13|Gyeongsangbuk_do_...| 1020|
|2020-04-13|Gyeongsangnam_do_...|  115|
|2020-04-13|Gyeongsangnam_do_...|   84|
+----------+--------------------+-----+
only showing top 20 rows